*,
*::after,
*::before{
    box-sizing: border-box;
}

a{
    color: inherit;
    display: inline-block;
    text-decoration: none;
     
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
}

body{
    font-family: 'Lato', sans-serif;
}


.header{
    background-color: #e8ebf1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
}

.container{
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;

}

.header__logo a span{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #2aacc8;
    font-size: 50px;
    
}

.header__logo a{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #000;
    font-size: 50px;
    
}
.menu{
    margin-right: 20px;
    
}

.menu__list-item{
    margin-left: 50px;
    
}

.menu__list-item:first-child{
    margin-left: 0;
}

.menu__list-link{
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 13px;
}



.menu__drop-down{
    margin-left: 39px;
    position: relative;
}

.menu__drop-down + .menu__drop-down{
    margin-left: 12px;
}

.drop-down__list{
    display: none;
    position: absolute;
    width: 200px;
    background-color: #fff;
    border: 1px solid rgb(232, 235, 241);
    border-bottom: 5px solid #2aacc8;
    border-top: none;
    box-shadow: 0px 5px 0px 0px rgba(42, 172, 200, 0.004);
    padding: 10px 5px;
}

.drop-down__list li{
    display: block;
}

.drop-down__list a{
    display: block;   
    padding: 12px 11px;
    font-weight: 400;
    font-size: 13px;

}

.drop-down__list a:hover{
    color: #2aacc8;
}

.drop-down__list li+li a{
    border-top: 1px solid #e7e7e7;
}


.menu__drop-down > a{
    position: relative;
    padding-left: 11px;
    padding-right: 26px;
    border-top: 5px solid transparent;   
}

.menu__drop-down > a::after{
    content: "";
    position: absolute;
    background-image: url(../images/down-arrow.png);
    width: 7px;
    height: 5px;
    right: 8px;
    top: 15px;
}


.menu__drop-down.drop-down:hover .drop-down__list{
    display: block;
}
.menu__drop-down.drop-down:hover > a{
    color: #2aacc8;
    border-top: 5px solid #2aacc8;
    background-color: #fff;
    transition: all .3s;
}

.menu__drop-down.drop-down + .header__link-blog{
    margin-left: 20px;
}

/* slider */
  
.slider{
    background-color: #81e4ed;
    padding: 20px 0 40px;
}

.slider__item{
    background-image: url(../images/slider-bg.jpg);
    min-height: 440px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__item-title{
    font-size: 50px;
    color: #fff;
    width: 300px;
    margin-left: 60px;
    font-weight: 700;
    padding-top: 90px;
}
