*,
*::after,
*::before{
    box-sizing: border-box;
}

a{
    color: inherit;
    display: inline-block;
    text-decoration: none;
     
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}


.header{
    background-color: #e8ebf1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
}

.container{
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;

}

.header__logo a span{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #2aacc8;
    font-size: 50px;
    
}

.header__logo a{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #000;
    font-size: 50px;
    
}
.menu{
    margin-right: 20px;
    
}

.menu__list-item{
    margin-left: 50px;
    
}

.menu__list-item:first-child{
    margin-left: 0;
}

.menu__list-link{
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 13px;
}



.menu__drop-down{
    margin-left: 39px;
    position: relative;
}

.menu__drop-down + .menu__drop-down{
    margin-left: 12px;
}

.drop-down__list{
    display: none;
    position: absolute;
    width: 200px;
    background-color: #fff;
    border: 1px solid rgb(232, 235, 241);
    border-bottom: 5px solid #2aacc8;
    border-top: none;
    box-shadow: 0px 5px 0px 0px rgba(42, 172, 200, 0.004);
    padding: 10px 5px;
    z-index: 1;
}

.drop-down__list li{
    display: block;
}

.drop-down__list a{
    display: block;   
    padding: 12px 11px;
    font-weight: 400;
    font-size: 13px;

}

.drop-down__list a:hover{
    color: #2aacc8;
}

.drop-down__list li+li a{
    border-top: 1px solid #e7e7e7;
}


.menu__drop-down > a{
    position: relative;
    padding-left: 11px;
    padding-right: 26px;
    border-top: 5px solid transparent;   
}

.menu__drop-down > a::after{
    content: "";
    position: absolute;
    background-image: url(../images/down-arrow.png);
    width: 7px;
    height: 5px;
    right: 8px;
    top: 15px;
}


.menu__drop-down.drop-down:hover .drop-down__list{
    display: block;
}
.menu__drop-down.drop-down:hover > a{
    color: #2aacc8;
    border-top: 5px solid #2aacc8;
    background-color: #fff;
    transition: all .3s;
}

.menu__drop-down.drop-down + .header__link-blog{
    margin-left: 20px;
}

/*======================= slider =====================*/
  
.slider{
    background-color: #81e4ed;
    padding: 20px 0 10px;
}

.slider__item{
    background-image: url(../images/slider-bg.jpg);
    min-height: 440px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__item-title{
    font-size: 50px;
    color: #fff;
    width: 300px;
    margin-left: 60px;
    font-weight: 700;
    padding-top: 90px;
}

/*====================== dots ======================*/
.slick-dots li button::before{
    display: none;
}


.slick-dots li button{
    width: 14px;
	height: 14px;
    background-color: rgba(98, 98, 98, .5);
    border-radius: 50%;
}

.slick-dots li{
    margin: 0 9px;
    width: auto;
    height: auto;
}

.slick-dots li.slick-active button{
    background-color: #fff;
}

/*==================== items ====================== */
.items{
    background-color: #e8ebf1;
    padding: 60px 0 50px;
    border-bottom: 1px solid #d9d9d9;
}

.items__inner{
    display: flex;
    justify-content: space-between;
}

.item{
    width: 225px;
    font-family: 'arial', sans-serif;
}

.item__title{
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;

    padding-top: 10px;
    padding-left: 60px;
    padding: 10px 0 0 60px;
    margin-bottom: 30px;

    position: relative;
}

.item__icons{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #2aacc8;
    border-radius: 50%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telegram__icons{
    margin-left: 5px;
}

.item__text{
    font-family: 'arial', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #363636;
    margin-bottom: 30px;

}

.item__link{
    font-family: 'arial', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #2aacc8;
    padding-left: 15px;
    position: relative;
}

.item__link::before{
    content: '';
    position: absolute;
    background-image: url(../images/icons/arrow.svg);
    left: 0;
    top: 5px;
    width: 5px;
    height: 7px;
}

/* ======================works========================================= */

.works__title{
    font-family: 'arial', sans-serif;
    padding: 25px 0 15px 40px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.works__title::before{
    content: '';
    position: absolute;
    background-image: url(../images/slider/cursor.svg);
    left: 0;
    top: 20px;
    width: 14px;
    height: 24px;
}

.works__inner{
    padding: 20px 0 40px;
    border-top: 1px solid #dfe1e5;
    border-bottom: 1px solid #dfe1e5;
}

.slick-arrow{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #81e4ed;
}

.slick-arrow::before{
    display: none;
}

.slick-arrow:hover, .slick-arrow:focus{
    background-color: #81e4ed;
}



.slick-next{
    right: 0;
    top: -27px;
}

.slick-prev{
    right: 31px;
    left: auto;
    top: -27px;
}


.works__inner-item{
    /* центрирование элементов */
    text-align: center;
}

.works__inner-box{
    display: inline-block;
    position: relative;
    
    
}

.works__inner-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    background-color: #2aacc8;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    transition: all .5s;
}

.works__inner-link a{
    margin: 0 15px;
}

.works__inner-box:hover .works__inner-link{
    height: 80px;
}

/* выравнивание слайдера по ширине */
.slick-list{
    margin-left: -15px;
    margin-right: -15px;
}